
/* TOMTOMMAP */

.mapContainer {
  margin-top: 25px;
}

.mapDiv{
  height: 500px;
}

.mapZoomDisplay {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.updateButton {
  margin-top: 20px;
}
.controlButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.mapContainer {
  margin: 20px; 
}

/* fond  */
body {
  background-image: url('./media/homepage.jpg');
  background-size: cover; 
  background-position: center;
}
body::before {
  content: "";
  
  background-color: rgba(0,0,0,0.25);
  opacity: 0.75;
}


